body{
    background-image: url(mpl_stage.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 1vh;
    margin: 0;
}